.det img{
    height: 100px;
}
.det ul{

    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 15px;
}
.summ h3{
    text-align: center;
}
.summ ul li{
    display: flex;
    justify-content: space-between;
}
